services:
  mongoDB:
    image: mongo:4.4.6
    container_name: rnapdbee-mongoDB-container
    environment:
      # Username and password can not be changed after volume creation, saved in volume!
      - MONGO_INITDB_ROOT_USERNAME=rnapdbee
      - MONGO_INITDB_ROOT_PASSWORD=Xdy0s3XvTLBxACdJrAfb
    volumes:
      - rnapdbee-mongoDB-volume:/data/db
    restart: always

  load-balancer:
    image: nginx:alpine
    volumes:
      - ./rnapdbee-adapters/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      cli2rest-barnaba:
        condition: service_healthy
      cli2rest-bpnet:
        condition: service_healthy
      cli2rest-fr3d:
        condition: service_healthy
      cli2rest-inkscape:
        condition: service_healthy
      cli2rest-maxit:
        condition: service_healthy
      cli2rest-mc-annotate:
        condition: service_healthy
      cli2rest-rchie:
        condition: service_healthy
      cli2rest-rnaview:
        condition: service_healthy
      cli2rest-varna-tz:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      start_period: 30s
      start_interval: 1s
    restart: always

  cli2rest-barnaba:
    image: ghcr.io/tzok/cli2rest-barnaba
    deploy:
      replicas: 1
    restart: always

  cli2rest-bpnet:
    image: ghcr.io/tzok/cli2rest-bpnet
    deploy:
      replicas: 1
    restart: always

  cli2rest-fr3d:
    image: ghcr.io/tzok/cli2rest-fr3d
    deploy:
      replicas: 1
    restart: always

  cli2rest-inkscape:
    image: ghcr.io/tzok/cli2rest-inkscape
    deploy:
      replicas: 1
    restart: always

  cli2rest-maxit:
    image: ghcr.io/tzok/cli2rest-maxit
    deploy:
      replicas: 1
    restart: always

  cli2rest-mc-annotate:
    image: ghcr.io/tzok/cli2rest-mc-annotate
    deploy:
      replicas: 1
    restart: always

  cli2rest-rchie:
    image: ghcr.io/tzok/cli2rest-rchie
    deploy:
      replicas: 1
    restart: always

  cli2rest-rnaview:
    image: ghcr.io/tzok/cli2rest-rnaview
    deploy:
      replicas: 1
    restart: always

  cli2rest-varna-tz:
    image: ghcr.io/tzok/cli2rest-varna-tz
    deploy:
      replicas: 1
    restart: always

  redis:
    image: redis:alpine
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 30s
      start_interval: 1s

  adapters:
    build: ./rnapdbee-adapters
    container_name: rnapdbee-adapters-container
    restart: always
    environment:
      - ADAPTERS_CACHE_TYPE=RedisCache
      - ADAPTERS_REDIS_URL=redis://redis:6379/0
      - ADAPTERS_FLASK_LOG_LEVEL=INFO
      - CLI2REST_BARNABA_URL=http://load-balancer/cli2rest-barnaba
      - CLI2REST_BPNET_URL=http://load-balancer/cli2rest-bpnet
      - CLI2REST_FR3D_URL=http://load-balancer/cli2rest-fr3d
      - CLI2REST_INKSCAPE_URL=http://load-balancer/cli2rest-inkscape
      - CLI2REST_MAXIT_URL=http://load-balancer/cli2rest-maxit
      - CLI2REST_MCANNOTATE_URL=http://load-balancer/cli2rest-mc-annotate
      - CLI2REST_RCHIE_URL=http://load-balancer/cli2rest-rchie
      - CLI2REST_RNAVIEW_URL=http://load-balancer/cli2rest-rnaview
    depends_on:
      load-balancer:
        condition: service_healthy
      redis:
        condition: service_healthy

  backend:
    build: ./rnapdbee-backend
    container_name: rnapdbee-backend-container
    depends_on:
      - mongoDB
    environment:
      - spring_data_mongodb_authentication-database=admin
      - spring_data_mongodb_username=rnapdbee
      - spring_data_mongodb_password=Xdy0s3XvTLBxACdJrAfb
      - spring_data_mongodb_database=backend-db
      - spring_data_mongodb_port=27017
      - spring_data_mongodb_host=rnapdbee-mongoDB-container
      - rnapdbee_engine_global_host=http://rnapdbee-engine-container:8081/calculation-api/
      - document_storage_days=14
      - svg_images_directory_path=/images
      - CLI2REST_INKSCAPE_URL=http://load-balancer/cli2rest-inkscape
    volumes:
      - rnapdbee-backend-volume:/images
    restart: always

  engine:
    build: ./rnapdbee-engine
    container_name: rnapdbee-engine-container
    environment:
      - CLI2REST_VARNA_TZ_URL=http://load-balancer/cli2rest-varna-tz
    restart: always

  frontend:
    container_name: rnapdbee-frontend-container
    restart: always

volumes:
  rnapdbee-mongoDB-volume:
  rnapdbee-backend-volume:
