services:
  backend:
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./rnapdbee-frontend
      args:
        BUILD_CONF: production
    ports:
      - "4200:80"

  engine:
    deploy:
      resources:
        limits:
          memory: "12G"

  cli2rest-barnaba:
    deploy:
      replicas: 3

  cli2rest-bpnet:
    deploy:
      replicas: 3

  cli2rest-fr3d:
    deploy:
      replicas: 3

  cli2rest-inkscape:
    deploy:
      replicas: 3

  cli2rest-maxit:
    deploy:
      replicas: 3

  cli2rest-mc-annotate:
    deploy:
      replicas: 3

  cli2rest-rchie:
    deploy:
      replicas: 3

  cli2rest-rnaview:
    deploy:
      replicas: 3

  cli2rest-rnapolis:
    deploy:
      replicas: 3

  cli2rest-varna-tz:
    deploy:
      replicas: 3
